.sidebar-custom {
    transition: .5s !important;
}
.custom-btn-hamburg {
    border: none !important;
    background: transparent !important;
    outline: none !important;
    cursor: pointer !important;
    transition: .5s !important;
}